$btn-normal-width: 400px;
$btn-normal-height: 70px;

$btn-medium-width: 230px;
$btn-medium-height: 50px;

$btn-small-width: 124px;
$btn-small-height: 40px;


/*basic*/
@mixin btn-basic {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	cursor: pointer;
	transition: all .3s;

	.btnIcon {
		height: 100%;
		padding: 5px;

		img {
			height: 100%;
		}	
	}
	.btnText {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
}

/*size*/
@mixin btn-l {
	width: $btn-normal-width;
	height: $btn-normal-height;
	padding: 0 $btn-normal-height / 2;
	border-radius: $btn-normal-height / 2;
	margin: $btn-normal-height / 2;

	.btnText {
		font-size: 36px;
	}
}

@mixin btn-m {
	width: $btn-medium-width;;
	height: $btn-medium-height;
	padding: 0 $btn-medium-height/2;
	border-radius: $btn-medium-height/2;
	margin: $btn-medium-height / 2;

	.btnText {
		font-size: 22px;
	}
}

@mixin btn-s {
	width: $btn-small-width;;
	height: $btn-small-height;
	padding: 0 $btn-small-height/2;
	border-radius: $btn-small-height/2;
	margin: $btn-small-height / 2;

	.btnText {
		font-size: 18px;
	}
}

/*color*/
@mixin btn-positive {
	background-color: #00a89b;
	border: 2px solid #00a89b;
	color: white;
}

@mixin btn-reverse {
	background-color: rgba(0,0,0,0);
	border: 2px solid #00a89b;
	color: #00a89b;
}

@mixin btn-disabled {
	border: none;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(255, 255, 255, .5);
	}
} 

.mainBtn {
	@include btn-basic;
	@include btn-l;
	@include btn-positive;

	&.medium {
		@include btn-m;
	}

	&.small {
		@include btn-s;
	}

	&.reverse {
		@include btn-reverse;
	}

	&.disabled {
		@include btn-disabled;
	}
}

